:root {
  --primary-cyan: hsl(193, 38%, 86%);
  --primary-green: hsl(150, 100%, 66%);
  --neutral-grey: hsl(217, 19%, 38%);
  --neutral-violet: hsl(217, 19%, 24%);
  --quote-size: 28px;
  --screen-size-mobile: 375px;
  --screen-size-desktop: 1440px;
}

body {
  margin: 0;
  font-family: "Manrope", "Segoe UI", "Roboto", "Oxygen", sans-serif;
  background-color: var(--neutral-violet);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.advice {
  margin: 10% auto;
  height: 300px;
  width: 500px;
  background-color: var(--neutral-grey);
  color: var(--primary-cyan);
  padding: 2rem 0.5rem;
  text-align: center;
  border-radius: 0.5rem;
  box-sizing: border-box;
  position: relative;
  align-items: center;
}

.adviceId {
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
  color: var(--primary-green);
}

.adviceText {
  font-size: var(--quote-size);
}

.divider {
  width: 85%;
  margin: auto;
}

.diceWrapper {
  position: absolute;
  width: 3rem;
  height: 3rem;
  bottom: -1.6rem;
  right: 41.5%;
  margin: auto;
  border-radius: 50%;
  background-color: var(--primary-green);
}

.dice {
  margin: 25%;
}
